#map {
  width: 1024px;
  height: 768px;
}

.marker-red {
  background-image: url("images/red.png");
  background-size: cover;
  height: 30px;
  width: 30px;
}

.marker-blue {
  background-image: url("images/blue.png");
  background-size: cover;
  height: 30px;
  width: 30px;
}
